/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "variables"

html
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 13px

body
  overflow: auto

header
  position: fixed
  transform: translateZ(0) //Fix problem with chrome
  padding: 1rem 2rem
  z-index: 2000
  box-sizing: border-box
  width: 100%
  height: 6rem
  .header-container
    height: 100%
    .header-control
      float: left
      display: block
      height: 100%
      width: 4rem
      cursor: pointer
      color: white
      font-size: 3rem
      text-align: center
      vertical-align: middle
      text-shadow: 1px 1px rgba(152, 175, 197, 0.7)
      margin-right: 1px

      > i
        transition: 0.2s all
        line-height: 4rem
      &.active
        color: $grey_lighter
        background: $blue_dark
        text-shadow: none
        > i
          transform: rotate(90deg)

    #header-content
      float: left
      width: 0
      overflow: hidden
      height: 4rem
      transition: 0.2s all
      font-size: 2rem
      text-align: center
      a
        font-weight: 100
        float: left
        margin-right: 1px
        padding: 1rem
        color: white
        background: $blue_dark
        &:hover
          background-color: rgba(42, 51, 64, 0.1)

//flex: 1 1 auto
//width: 100%
//top: 0
//z-index: 1000
//background-color: white
//box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3)
//height: $header-height
//.header-title
//  margin: 0.5rem 1rem
//  font-size: 3rem
//  color: $grey_medium

body
  //background-color: $grey_lightest
  margin: 0
  //padding-top: $header-height

  .content
    //margin-top: $header-height
    position: relative

a
  text-decoration: none
  &:hover
    color: #00B3FF

h1
  font-size: 4rem
  font-weight: 100

h2
  font-size: 2rem
  font-weight: 100

.header-clearer
  height: 4rem

.text.xxs
  font-size: 0.5rem

.text.xs
  font-size: 0.75rem

.text-sm
  font-size: 1rem

.text-md
  font-size: 1.5rem

.text-lg
  font-size: 2rem

.text-xl
  font-size: 4rem

.text-xxl
  font-size: 8rem

.btn-transparent
  background-color: transparent
  border-radius: 1000px
  border: 2px solid rgba(255, 255, 255, 0.5)
  padding: 2rem
  cursor: pointer

  &:hover
    color: white
    background-color: rgba(255, 255, 255, 0.1)
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25) !important

.section-join
  height: 7rem
  border-left: 1px solid white
  border-right: 1px solid white
  width: 40%
  margin: auto

.section, .section-box
  padding: 5rem
  font-size: 2rem
  h2
    margin-top: 0
    font-size: 4rem

.section
  min-height: 100vh
  box-sizing: border-box

.section-box
  width: 50%
  margin: auto

.text-center
  text-align: center

.round-picture
  width: 15rem
  height: 15rem
  border-radius: 150px
  background: url(image_path('portait.jpg')) no-repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8)

.relative
  position: relative

.hidden
  display: none

.vhr
  display: inline-block
  margin: 0 1rem

.large-form
  font-size: 2rem
  max-width: 40rem
  width: 100%
  margin: auto
  h2
    font-weight: 100
    color: white

  h3
    font-size: 1.5rem
    font-weight: 100
    color: rgba(152, 175, 197, 0.7)
  input, textarea
    width: 100%
    margin: 2rem auto
    padding: 1rem
    display: block
    background: #2a3340
    color: $grey_light
    border: none
    box-sizing: border-box
    font-size: 2rem
    font-family: Helvetica
    font-weight: 200
    border-radius: .2rem

    &::-webkit-input-placeholder
      color: rgba(152, 175, 197, 0.7)
    &:-moz-placeholder
      color: rgba(152, 175, 197, 0.7)
    &::-moz-placeholder
      color: rgba(152, 175, 197, 0.7)
    &:-ms-input-placeholder
      color: rgba(152, 175, 197, 0.7)

  textarea
    min-height: 15rem

  input[type='submit']
    cursor: pointer
    color: white
    background: #14bfff

.external-links
  width: 16rem
  margin: auto
  font-size: 4rem
  text-align: center
  a
    margin: 1rem
    color: rgba(152, 175, 197, 0.7)
    &:hover
      color: rgb(152, 175, 197)

.center-flex
  display: flex
  align-content: center
  align-items: center
  justify-content: center

.center-v-flex
  height: 100%
  display: flex
  flex-direction: column
  align-content: center
  align-items: center
  justify-content: center

.example-section
  background-color: $blue_darker
  border-top: 1px solid rgba(152, 175, 197, 0.7)
  padding: 4rem 1rem
  [class*=col-]
    padding: 1rem
    box-sizing: border-box
    &:not(:first-child)
      padding-left: 4rem
    &:not(:last-child)
      padding-right: 4rem
  h2
    font-size: 2rem
    font-weight: 100
    color: $grey_lightest
    text-align: center
  h3
    font-size: 1.3rem
    font-weight: 100
    color: rgba(152, 175, 197, 0.7)
  .buttons
    font-size: 4rem
    cursor: pointer
    text-align: center
    a
      color: white
      margin: 0 1rem

      &:hover
        color: $grey_lighter

      &.active
        color: $blue_lighter

  pre
    color: rgba(152, 175, 197, 0.7)
    padding: 1rem
    background-color: $blue_dark
    border-radius: 1rem

  .demo
    .device
      margin-left: auto
      margin-right: auto

.continue-link
  position: absolute
  font-size: 4rem
  color: rgba(152, 175, 197, 0.7)
  bottom: 2rem
  right: 2rem

  &:hover
    color: rgba(152, 175, 197, 0.2)