/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "variables"

html
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 13px

$header-height: 4rem
header
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  background-color: white
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3)
  height: $header-height
  .header-title
    margin: 0.5rem 1rem
    font-size: 3rem
    color: $grey_medium

body
  //background-color: $grey_lightest
  margin: 0
  //padding-top: $header-height

  .content
    //margin-top: $header-height
    position: relative

a
  text-decoration: none
  &:hover
    color: #00B3FF

.text.xxs
  font-size: 0.5rem

.text.xs
  font-size: 0.75rem

.text-sm
  font-size: 1rem

.text-md
  font-size: 1.5rem

.text-lg
  font-size: 2rem

.text-xl
  font-size: 4rem

.text-xxl
  font-size: 8rem

.btn-transparent
  background-color: transparent
  border-radius: 1000px
  border: 2px solid rgba(255, 255, 255, 0.5)
  padding: 2rem
  cursor: pointer

  &:hover
    color: white
    background-color: rgba(255, 255, 255, 0.1)
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25) !important

.section-join
  height: 7rem
  border-left: 1px solid white
  border-right: 1px solid white
  width: 40%
  margin: auto

.section, .section-box
  padding: 5rem
  font-size: 2rem
  h2
    margin-top: 0
    font-size: 4rem

.section
  min-height: 100vh
  box-sizing: border-box
.section-box
  width: 50%
  margin: auto

.text-center
  text-align: center

.round-picture
  width: 15rem
  height: 15rem
  border-radius: 150px
  background: url(image_path('portait.jpg')) no-repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8)

.relative
  position: relative

.hidden
  display: none

.vhr
  display: inline-block
  margin: 0 1rem

.large-form
  font-size: 2rem
  max-width: 40rem
  width: 100%
  margin: auto
  h2
    font-weight: 100
    color: white

  h3
    font-size: 1.5rem
    font-weight: 100
    color: rgba(152, 175, 197, 0.7)
  input, textarea
    width: 100%
    margin: 2rem auto
    padding: 1rem
    display: block
    background: #2a3340
    color: $grey_light
    border: none
    box-sizing: border-box
    font-size: 2rem
    font-family: Helvetica
    font-weight: 200
    border-radius: .2rem

    &::-webkit-input-placeholder
      color: rgba(152, 175, 197, 0.7)
    &:-moz-placeholder
      color: rgba(152, 175, 197, 0.7)
    &::-moz-placeholder
      color: rgba(152, 175, 197, 0.7)
    &:-ms-input-placeholder
      color: rgba(152, 175, 197, 0.7)

  textarea
    min-height: 15rem

  input[type='submit']
    cursor: pointer
    color: white
    background: #14bfff

.external-links
  width: 16rem
  margin: auto
  font-size: 4rem
  text-align: center
  a
    margin: 1rem
    color: rgba(152, 175, 197, 0.7)
    &:hover
      color: rgb(152, 175, 197)