/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "variables"

html
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  font-size: 13px

$header-height: 4rem
header
  position: fixed
  width: 100%
  top: 0
  z-index: 1000
  background-color: white
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3)
  height: $header-height
  .header-title
    margin: 0.5rem 1rem
    font-size: 3rem
    color: $grey_medium

body
  //background-color: $grey_lightest
  margin: 0
  //padding-top: $header-height

  .content
    //margin-top: $header-height
    position: relative

a
  text-decoration: none
  &:hover
    color: #00B3FF

.text.xxs
  font-size: 0.5rem

.text.xs
  font-size: 0.75rem

.text-sm
  font-size: 1rem

.text-md
  font-size: 1.5rem

.text-lg
  font-size: 2rem

.text-xl
  font-size: 4rem

.text-xxl
  font-size: 8rem

.transparent-button
  background-color: white
  border-radius: 100px
  border: 1px solid white
  padding: 2rem 4rem
  cursor: pointer
  color: $grey_dark

  &:hover
    color: white
    background-color: rgba(255, 255, 255, 0.1)
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25) !important

.section-join
  height: 7rem
  border-left: 1px solid white
  border-right: 1px solid white
  width: 40%
  margin: auto

.section, .section-box
  padding: 5rem
  font-size: 2rem
  h2
    margin-top: 0
    font-size: 4rem

.section-box
  width: 50%
  margin: auto

.text-center
  text-align: center

.round-picture
  width: 15rem
  height: 15rem
  border-radius: 150px
  background: url(image_path('portait.jpg')) no-repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8)

.device-container
  position: relative
  .md-slider

    &.pc

    &.laptop
      position: absolute
      top: 11rem
      left: 2rem
      width: 30rem

    &.tablet
      position: absolute
      top: 4rem
      left: 70%
      width: 30rem

    &.phone
      position: absolute
      top: 11rem
      left: 56%
      width: 30rem
    a.device-screen
      display: flex
      align-items: center
      justify-content: center
      .fa
        font-size: 4rem
        margin: 1rem

.device
  &.device-1
    border-radius: 5px 5px 0 0

    .md-border-element
      opacity: 1

    .md-base-element
      opacity: 1

    &.device-sm
      padding: 21px
      > a
        width: 500px
        height: 325px

      .md-border-element
        height: 42px

      .md-base-element
        height: 42px
        &:after
          transform: translateY(90px) translateX(-50%) translateY(0)

    &.device-md
      padding: 30px
      > a
        width: 700px
        height: 455px

      .md-border-element
        height: 60px
      .md-base-element
        height: 60px
        transform: translateY(60px) translateX(-50%) translateY(0)

  &.device-2
    padding: 30px
    border-radius: 5px 5px 0 0

    .md-border-element
      opacity: 1
      width: 125%
      background: #ddd

      &:after
        opacity: 1

    &.device-sm
      padding: 21px
      > a
        width: 428px
        height: 278px

      .md-border-element
        height: 25px
        border-radius: 0 0 14px 14px

    &.device-md
      padding: 21px
      > a
        width: 600px
        height: 390px

      .md-border-element
        height: 35px
        border-radius: 0 0 20px 20px

  &.device-3

    transform: translateY(40px)

    &.md-rotated
      transform: translateY(40px) rotate(90deg)

    &:before
      transform: translateY(600%) translateX(-50%)

    &.device-sm
      padding: 39px 28px
      > a
        width: 200px
        height: 267px

      &:after
        transform: translateY(-125%) translateX(-50%) scale(1)

    &.device-md
      padding: 55px 40px
      > a
        width: 280px
        height: 375px

      &:after
        transform: translateY(-175%) translateX(-50%) scale(1)

  &.device-4
    transform: translateY(50px)

    &.md-rotated
      transform: translateY(50px) rotate(90deg)

    &:before
      width: 20px
      height: 4px
      border-radius: 3px
      transform: translateY(600%) translateX(-50%)

    &.device-sm
      padding: 35px 8px 50px
      > a
        width: 142px
        height: 213px

      &:after
        transform: translateY(-142%) translateX(-50%) scale(1)

    &.device-md
      padding: 50px 12px 70px
      > a
        width: 200px
        height: 299px
      &:after
        transform: translateY(-200%) translateX(-50%) scale(1)

.relative
  position: relative