@import "variables"

//================================================================
// Medium
//================================================================
$device_md_pc_width: 542px
$device_md_pc_height: $device_md_pc_width * 367/542
//367px

$device_md_laptop_width: 470px
$device_md_laptop_height: $device_md_laptop_width * 320/470
//320px

$device_md_tablet_width: 256px
$device_md_tablet_height: $device_md_tablet_width * 345 / 256
//345px

$device_md_phone_width: 158px
$device_md_phone_height: $device_md_phone_width * 298 / 158
//298px

//================================================================
// Small
//================================================================
$device_sm_pc_width: $device_md_pc_width * 0.75
$device_sm_pc_height: $device_md_pc_height * 0.75

$device_sm_laptop_width: $device_md_laptop_width * 0.75
$device_sm_laptop_height: $device_md_laptop_height * 0.75

$device_sm_tablet_width: $device_md_tablet_width * 0.75
$device_sm_tablet_height: $device_md_tablet_height * 0.75

$device_sm_phone_width: $device_md_phone_width * 0.75
$device_sm_phone_height: $device_md_phone_height * 0.75

//================================================================
// Large
//================================================================
$device_lg_pc_width: $device_md_pc_width * 1.25
$device_lg_pc_height: $device_md_pc_height * 1.25

$device_lg_laptop_width: $device_md_laptop_width * 1.25
$device_lg_laptop_height: $device_md_laptop_height * 1.25

$device_lg_tablet_width: $device_md_tablet_width * 1.25
$device_lg_tablet_height: $device_md_tablet_height * 1.25

$device_lg_phone_width: $device_md_phone_width * 1.25
$device_lg_phone_height: $device_md_phone_height * 1.25

.device-container
  position: relative
  padding-bottom: 10rem
  padding-top: 4rem
  margin-left: auto
  margin-right: auto
  .device
    transition: all 0.5s ease
    &.device-pc
      position: relative
      margin: auto

    &.device-laptop, &.device-tablet, &.device-phone
      margin-left: 50%
      //Align relative to the center(Keep positioning when screen size change)
      position: absolute

    //Specific device positioning
    &.device-laptop
      top: 15rem
      left: -40rem

    &.device-tablet
      top: 8rem
      left: 16rem

    &.device-phone
      top: 19rem
      left: 11rem

    a.device-screen
      display: flex
      align-items: center
      justify-content: center
      overflow: hidden
      .fa
        font-size: 4rem
        margin: 1rem
        transition: all 0.2s ease
        &:hover
          font-size: 8rem

/* General style for all devices */
.device
  position: relative
  border-radius: 5px
  background-color: #333
  transform: translateY(0px)
  > div
    position: absolute
  > .device-screen
    display: block
    outline: none
    position: relative

    img
      display: block
      outline: none
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0

      &.img.md-fadeout
        opacity: 0

.device-demo

  .device
    margin-left: auto
    margin-right: auto
    transition: 0.3s all
    transition-timing-function: ease-in-out

/* Common pseudo elements' properties */
/* device:before -- camera / top element */
/* device:after -- home button */
/* base-element:after -- socket of base */
/*  border-element:after -- grey inset opending macbook */
.device:before,
.device:after,
.base-element:after,
.border-element:after
  position: absolute
  content: ''
  z-index: 1000
  left: 50%
  top: 0

.device:before,
.device:after
  background: $grey_darkest

/* Hide element, show only for the devices that need them */
.border-element,
.base-element,
.border-element:after
  opacity: 0

.device
  transform: translateZ(0)
  //To fix chrome bug
  &.device-pc
    border-radius: 5px 5px 0 0
    margin-bottom: 21%

    &:before
      width: 0.738%
      height: 1.09%
      border-radius: 100%
      top: 3.5%
      transform: translateX(-50%)

    .border-element
      opacity: 1
      &, &:after
        transform: translateX(-50%)

    > .device-screen
      top: 5.7%
      left: 3.8%
      height: 88.6%
      width: 92.4%

    // White border at the bottom
    .border-element
      top: 100%
      left: 50%
      width: 100%
      height: 11.5%
      background: #ddd
      border-bottom-right-radius: 0.923% 11.9%
      border-bottom-left-radius: 0.923% 11.9%

    //Mac leg
    .base-element
      opacity: 1
      top: 100%
      left: 50%

      width: 29.5%
      height: 20.9%

      background: #d7d7d7
      transform: translateX(-50%)
      z-index: -1

      &:after
        background: #ddd
        border-radius: 30px 30px 10px 10px
        width: 180%
        height: 14%
        top: 100%
        transform: translateX(-50%)

    &.device-custom
      width: $device_md_pc_width
      height: $device_md_pc_height

    &.device-sm
      width: $device_sm_pc_width
      height: $device_sm_pc_height

    &.device-md
      width: $device_md_pc_width
      height: $device_md_pc_height

    &.device-lg
      width: $device_lg_pc_width
      height: $device_lg_pc_height

  &.device-laptop
    border-radius: 5px 5px 0 0
    margin-bottom: 8%

    //Camera
    &:before
      width: 0.852%
      height: 1.25%
      border-radius: 100%
      top: 4%
      transform: translateX(-50%)

    .border-element
      opacity: 1
      top: 100%
      left: 50%
      width: 125%
      height: 7.81%
      background: #ddd
      border-bottom-right-radius: 2.4% 58%
      border-bottom-left-radius: 2.4% 58%

      &, &:after
        transform: translateX(-50%)

      // border-element:after -- grey inset opending macbook
      &:after
        background: #aaaaaa
        width: 17.0%
        height: 41.6%
        border-bottom-right-radius: 6% 60%
        border-bottom-left-radius: 6% 60%

      &:after
        opacity: 1
    > .device-screen
      top: 6.6%
      left: 4.5%
      height: 86.8%
      width: 91%

    &.device-custom
      width: $device_md_laptop_width
      height: $device_md_laptop_height

    &.device-sm
      width: $device_sm_laptop_width
      height: $device_sm_laptop_height

    &.device-md
      width: $device_md_laptop_width
      height: $device_md_laptop_height

    &.device-lg
      width: $device_lg_laptop_width
      height: $device_lg_laptop_height

  &.device-tablet
    > .device-screen
      top: 11.3%
      left: 10.9%
      height: 77.4%
      width: 78.2%

    //Button
    &:after
      top: 100%
      width: 9.38%
      height: 6.97%
      border-radius: 50%
      transform: translateY(-125%) translateX(-50%)

    //Bar at the top
    &:before
      width: 1.6%
      height: 1.2%
      border-radius: 100%
      top: 8%
      transform: translateX(-50%)

    //Modifiers
    &.md-rotated
      transform: translateY(40px) rotate(90deg)

    //Sizes

    &.device-custom
      width: $device_md_tablet_width
      height: $device_md_tablet_height

    &.device-sm
      width: $device_sm_tablet_width
      height: $device_sm_tablet_height

    &.device-md
      width: $device_md_tablet_width
      height: $device_md_tablet_height

    &.device-lg
      width: $device_lg_tablet_width
      height: $device_lg_tablet_height

  &.device-phone

    // Screen
    > .device-screen
      top: 11.7%
      left: 5.1%
      height: 71.5%
      width: 89.9%

    // Button
    &:after
      top: 100%
      height: 8.1%
      width: 15.2%
      border-radius: 50%
      transform: translateY(-150%) translateX(-50%)

    //Bar at the top
    &:before
      width: 12.7%
      height: 1%
      border-radius: 3px
      top: 8%
      transform: translateX(-50%)

    //Modifiers
    &.md-rotated
      transform: translateY(50px) rotate(90deg)

    //Sizes
    &.device-custom
      width: $device_md_phone_width
      height: $device_md_phone_height

    &.device-sm
      width: $device_sm_phone_width
      height: $device_sm_phone_height

    &.device-md
      width: $device_md_phone_width
      height: $device_md_phone_height

    &.device-lg
      width: $device_lg_phone_width
      height: $device_lg_phone_height

