@import "variables"

header
  position: fixed
  //Fix problem with chrome
  transform: translateZ(0)
  padding: 1rem 2rem
  z-index: 2000
  box-sizing: border-box
  width: 100%
  height: 6rem

  @media screen and (max-device-width: $screen-sm-min), screen and (max-width: $screen-sm-min)
    height: 100vh
  .header-container
    //height: 100%
    .header-control
      float: left
      display: block
      height: 100%
      width: 4rem
      cursor: pointer
      color: white
      font-size: 3rem
      text-align: center
      vertical-align: middle
      text-shadow: 1px 1px rgba(152, 175, 197, 0.7)
      margin-right: 1px
      box-sizing: border-box

      > i
        transition: 0.2s all
        line-height: 4rem
      &.active
        color: $grey_lighter
        background: $blue_dark
        text-shadow: none

        > i
          transform: rotate(90deg)
      @media screen and (max-device-width: $screen-sm-min), screen and (max-width: $screen-sm-min)
        font-size: 6rem
        height: 8rem
        display: block

        &.active
          width: 100%
          margin-right: 0
          text-align: left
          padding-left: 3rem
          margin-bottom: 1px

    #header-content
      width: 0
      overflow: hidden
      transition: 0.2s all
      font-size: 2rem
      text-align: center
      height: 4rem

      @media screen and (max-device-width: $screen-sm-min), screen and (max-width: $screen-sm-min)
        width: 100%
        height: auto
        display: none
      a
        font-weight: 100
        float: left
        margin-right: 1px
        padding: 1rem
        color: white
        background: $blue_dark
        &:hover
          background-color: rgba(42, 51, 64, 0.1)

        @media screen and (max-device-width: $screen-sm-min), screen and (max-width: $screen-sm-min)
          font-size: 4rem
          width: 100%
          margin-right: 0
          margin-bottom: 1px
          padding-left: 3rem
          text-align: left
          float: none
          display: block
