$grey_white: #fafafa
$grey_lightest: #f5f5f5
$grey_lighter: #e5e5e5
$grey_light: #d5d5d5
$grey_medium_light: #b5b5b5
$grey_medium: #959595
$grey_medium_dark: #858585
$grey_dark: #656565
$grey_darker: #454545
$grey_darkest: #252525
$grey_black: #050505