$grey_white: #fafafa
$grey_lightest: #f5f5f5
$grey_lighter: #e5e5e5
$grey_light: #d5d5d5
$grey_medium_light: #b5b5b5
$grey_medium: #959595
$grey_medium_dark: #858585
$grey_dark: #656565
$grey_darker: #454545
$grey_darkest: #252525
$grey_black: #050505

// Blue
$blue_lighter: #849AC4
$blue_light: #5570A3
$blue_medium: #39558C
$blue_dark: #2a3340
$blue_darker: #171d25

// Red
$red_lighter: #FFAFA3
$red_light: #F58573
$red_medium: #D35A47
$red_dark: #B53A26
$red_darker: #8F1E0D

//Green
$green_lighter: #85D19C
$green_light: #55B572
$green_medium: #349C54
$green_dark: #1C863C
$green_darker: #096A26

//Yellow
$yellow_lighter: #FFDFA3
$yellow_light: #F5C873
$yellow_medium: #D3A347
$yellow_dark: #B58426
$yellow_darker: #8F620D

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default
$screen-sm-min: $screen-sm !default
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default
$screen-md-min: $screen-md !default
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default
$screen-lg-min: $screen-lg !default
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default
$screen-sm-max: ($screen-md-min - 1) !default
$screen-md-max: ($screen-lg-min - 1) !default

$container-sm: 750px
$container-md: 970px
$container-lg: 1170px